#thisContainer {
    display: flex;
}

.mediumButt {
    background-color:rgb(51, 160, 255);
    color: white;
    border-color: rgb(51, 160, 255);
}

.largerButt {
    background-color:rgb(51, 160, 255);
    color: white;
    border-color: rgb(51, 160, 255);
    height: 44px;  
}